

#options {
    margin-left: auto;
    margin-right: auto;
    max-width: 35%;
    /*border:3px solid #8AC007;*/
    display: block;
    margin-top: 17rem;
    font-size: 18px;
}

#button_submission {
	margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    /*border:3px solid purple;*/
    display: block;
    width: 130px;
    height: 30px;
    font-size: 17px;
    font-weight: 500;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

#title_format {
	margin-left: auto;
    margin-right: auto;
    max-width: 75%;
    /*border:3px solid orange;*/
    display: block;
    font-weight: 500;
    font-size: 20px;
}

#quiz_title {
    max-width: 35%;
    /*border:3px solid #8AC007;*/
    display: block;
    position: absolute;
    top: 195px;
    left: 37.2%;
    font-weight: 700;
    font-size: 25px;
}

ul {
    list-style-type: none;
}

#score_format {
	max-width: 35%;
    /*border:3px solid #8AC007;*/
    display: block;
    position: absolute;
    top: 275px;
    left: 38%;
    font-weight: 500;
    font-size: 22px;
}